/* Global */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

#selectorTemplate,
#kanjiTemplate {
    display: none;
}

/* Layout */
#container {
    max-width: 980px;
    min-width: 980px;
    margin: 0 auto;
}

#container header {
    padding-left: 0;
}

/*Kanji Selector */
#kanjiSelectionBox {
  position: fixed;
  height: 515px;
  width: 25%;
  right: 0;
  padding: 0 15px 15px 15px;
  border-left: 1px solid #000;
  background: rgba(255, 255, 255, 0.8);
}

#kanjiSelectionBox .kanji-box {
  margin-bottom: 5px;
  width: 25px;
  height: 25px;
  font-size: 20px;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
}

#kanjiSelectionBox .kanji-box.selected {
  color: #f00;
}

#kanji-selector {
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid red;
  width: 40%;
}

.kanji-row {
  width: 100%;
}

#kanjiSelectionBox .category-content {
  transition-property: all;
  transition-duration: 1s;
  height: 0;
  overflow: hidden;
}

#kanjiSelectionBox .category-content.expand {
  height: 200px;
  overflow: scroll;
}

#kanjiSelectionBox .categoryBox {
  margin-bottom: 15px;
}

.kanji-term,
.kanji-definition {
    display: inline-block;
}

#content .kanji-box:nth-child(n+3) {
    color: rgba(0, 0, 0, 0.15);
}

#content .kanji-box:nth-child(n+5) {
    color: white;
}

.kanji-term {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

.kanji-definition {
    margin: 0 30px 0 10px;
    text-transform: capitalize;
}

#content .kanji-box {
    margin-bottom: 5px;
    width: 96px;
    height: 96px;
    border: 1px solid #000;
    box-sizing: border-box;
    display: inline-block;
    font-size: 65px;
    text-align: center;
}
