/* Global */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

@font-face {
  font-family: StrokeOrder;
  src: url('/fonts/KanjiStrokeOrders.ttf');
}

@font-face {
  font-family: Mitimasu;
  src: url('/fonts/mitimasu.ttf');
}

#selectorTemplate,
#kanjiTemplate {
    display: none;
}

/* Layout */
#container h1 {
  margin: 0;
}

#container {
  padding: 15px 0 0 15px;
}

/* Kanji Search */
.settings {
  width: 100%;
  float: left;
  border-bottom: 1px solid #000;
  padding: 0 0 10px 0;
  margin: 0 0 10px 0;
}

.kanjiSearch {
  float: right;
}

.kanjiSubmit {
  float: right;
}

.inputWaniKaniUser {
  width: 75%;
}

.kanjiStrokes {
  float: left;
}

.waniKaniContent {
  font-size: 13px;
}

.kanjiStrokes .strokeToggle {
  height: 15px;
  width: 15px;
  content: '';
  display: inline-block;
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid #000;
  cursor: pointer;
  box-shadow: inset 0 0 0 2px #fff;
}

.kanjiStrokes .strokeToggle.selected {
  background-color: pink;
}

/*Kanji Selector */
#kanjiSelectionBox {
  position: fixed;
  height: 100%;
  width: 25%;
  right: 0;
  top: 0;
  padding: 15px;
  border-left: 1px solid #000;
  background: rgba(255, 255, 255, 0.8);
  overflow: scroll;
}

#kanjiSelectionBox .kanji-box {
  margin-bottom: 5px;
  width: 25px;
  height: 25px;
  font-size: 20px;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
}

#kanjiSelectionBox .kanji-box.selected {
  color: #f00;
}

#kanjiSelectionBox .category {
  font-size: 18px;
  margin-top: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #000;
}

#kanjiSelectionBox .category-content {
  transition-property: all;
  transition-duration: 1s;
  height: 0;
  overflow: hidden;
}

#kanjiSelectionBox .category-content.expand {
  height: 290px;
  overflow: scroll;
}

#kanjiSelectionBox .categoryBox {
  margin-bottom: 15px;
}

#kanjiSelectionBox h3 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}

#content .kanji-box:nth-child(n+3) {
    color: rgba(0, 0, 0, 0.15);
}


.kanji-row {
  max-width: 980px;
  float: left;
}

.kanji-term,
.kanji-definition {
    display: inline-block;
}

.kanji-term {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

.kanji-definition {
    margin: 0 30px 0 10px;
    text-transform: capitalize;
}

#content.handwriting .kanji-box {
  font-family: Mitimasu;
  font-size: 55px;
  line-height: 65px;
}

#content.stroke-order .kanji-box {
  font-family: StrokeOrder;
  font-size: 50px;
}

#content .kanji-box {
    margin: 0 5px 5px 0;
    width: 72px;
    height: 72px;
    border: 1px solid #000;
    box-sizing: border-box;
    float: left;
    font-size: 55px;
    text-align: center;
}

#content .kanji-box-inner {
    margin: 0 5px 5px 0;
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    float: left;
    font-size: 55px;
    text-align: center;
}

#content .kanji-box-inner-1 {
    margin: 0 5px 5px 0;
    width: 70px;
    height: 70px;
    border: 1px solid #CCC;
    box-sizing: border-box;
    float: left;
    font-size: 55px;
    text-align: center;
}

#content .kanji-box-4-sub {
    margin: 0 0 0 0;
    width: 35px;
    height: 35px;
    border: 1px solid #CCC;
    box-sizing: border-box;
    float: left;
    text-align: center;
}

.author {
  position: absolute;
  right: 15px;
  bottom: 35px;
  font-size: 12px;
  z-index: 0;
  background: #fff;
}

.author a {
  color: #E667AF;
}

.author a:hover {
  color: #000;
}

@media print {
  .kanji-row {
    width: 100%;
    page-break-inside: avoid;
  }

  #content {
    width: 980px;
    float: left;
  }

  #kanjiSelectionBox {
    display: none;
  }
}
