/* Global */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

#selectorTemplate,
#kanjiTemplate {
    display: none;
}

/* Layout */
#container {
    max-width: 980px;
    min-width: 980px;
    margin: 0 auto;
}

#header,
#content,
#footer {
    padding: 15px;
}

/*Kanji Selector */
#kanjiSelectionBox {
  position: fixed;
  height: 500px;
  width: 25%;
  right: 0;
  padding: 0 15px 15px 15px;
  border-left: 1px solid #000;
  background: rgba(255, 255, 255, 0.8);
}

#kanjiSelectionBox .category {
  font-size: 18px;
  margin-top: 0;
}

#kanjiSelectionBox .categoryBox {

}

#kanjiSelectionBox .kanji-box {
    margin-bottom: 5px;
    width: 25px;
    height: 25px;
    font-size: 20px;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
}

#kanjiSelectionBox .kanji-box.selected {
  color: red;
}

/* Kanji Rows */

#content .kanji-row {
    width: 100%;
}

#content .kanji-term,
#content .kanji-definition {
    display: inline-block;
}

#content .kanji-term {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

#content .kanji-definition {
    margin: 0 30px 0 10px;
    text-transform: capitalize;
}

#content .kanji-box {
    margin-bottom: 5px;
    width: 96px;
    height: 96px;
    font-size: 65px;
    border: 1px solid #000;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
}

#content .kanji-box:nth-child(n+3) {
    color: rgba(0, 0, 0, 0.15);
}

#content .kanji-box:nth-child(n+5) {
    color: white;
}
